
h1{text-align: center;}

.subtitle{text-align: center;
    margin-bottom: 40px;}

.v-line {border-left: 1px solid black;
    height: 100%;
    left: 50%;
    position: absolute;
margin-top: -460px;}

.vertical{ display: flex;
    flex-direction: row;}

.vertical-box{ background-color: aquamarine;
    height: 600px;
    width: 48%;
}

.vertical-box-work{ width: 90%;
    height: 300px;
    border: 1px solid salmon;
    margin: 0 auto;
    margin-top: 40px;}

.vertical-box-info{ width: 90%;}


.timeline{ display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;}

.timeline-date{             color:white;
    background-color:blueviolet;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size:x-large;
    margin:0 5px 0 5px;
}

.profile_img{ border-radius: 50%;
    height: 100px;
    width: 100px;
    float: right;
    padding: 20px;
}

.user-name { text-align: right;
    width: 85%;
}

h2{margin: 0%;
    margin-top: 40px;
}

h3{margin: 0%;}

hr {margin-top: 30px;}

ul {list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;}



/* ------------ Bloques BEM  Vertical TimeLine ------------ */